*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
}
html{
    height: 100%;
}
body{
    background: #1D2671;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #C33764, #1D2671);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #C33764, #1D2671); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: sans-serif;
}
header{
    background-color: #5a5574;
    color:white;
    font-size: 12px;
    margin-bottom:100px;
    padding:13px;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}
 input{
    border:none;
    background-color: rgb(255, 255, 253);
    letter-spacing: 1px;
    text-align: center;
    border-radius: 15px;
    border:none;
    color:white;
}
textarea:focus, input:focus{
    outline: none;
    color:grey;
}
.container1{
    width:60%;
    color:white;
    padding:40px;
    margin: auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom:2px solid white;
    box-shadow: 12px 12px 12px 12px rgba(53, 52, 52, 0.1);
    display: flex;
    justify-content: space-around;

}
.today-temp-img{
    padding:20px;
}
.temp{
    padding-bottom:10px;
}
.c{
    cursor: -webkit-grab; cursor: grab;
}
.f{
    cursor: -webkit-grab; cursor: grab;
}
.city{
    padding-bottom:10px;
}
.today-hum-wind{
   padding-top:120px;
   font-weight: bold;
   font-size: 20px;
   letter-spacing: 2px;
}
.container1-icon{
    flex-basis:10%;
    height:50px;
}
/* Second-container */
.container2{
    width:60%;
    margin:auto;
    color:white;
    font-size:27px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 9px 9px 9px 9px rgb(0,0,0, 0.1);
    display: flex;
    flex-direction: column;
}
.weekDays{
    padding:20px 0 10px 0;
    display: flex;
    justify-content: space-evenly;
}  


.imageDays{
    padding:20px 0 30px 0;
    display: flex;
    justify-content: space-evenly;
}
.imageDay{
    width:2.2%;
    height:34px;
}

.minTemp{
    padding:30px 0 10px 0; 
    display: flex;
    justify-content: space-evenly;
}
.maxTemp{
    padding:10px 0 30px 0; 
    margin-bottom:50px;
    display: flex;
    justify-content: space-evenly;
}

 @media(max-width:1440px){
    .imageDay{
        width:3%;
        height:44px;
    }
}
@media(max-width:1024px){
    .imageDay{
        width:3.8%;
        height:50px;
    }
}
@media(max-width:768px){
    .container1{
       width:80%;
    }
    .container2{
        width:80%;
     }
    .imageDay{
        width:4.3%;
        height:56px;
    }
    .imageDays{
        padding:3px 0 6px 0;
        display: flex;
        justify-content: space-evenly;
    }
}
@media(max-width:425px){
    body{
        width: 100%;
        height: 100%;
        background: no-repeat center;
        background-size: cover;
    }
    header{
        margin-bottom:1px;
    }
    input{
        padding:10px;
    }
    .date{
        display: none;
    }
    .container1{
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        width:100%;
    }
    .actual-city{
        text-align: center;
        margin-bottom:10px;
    }
    .today-temp-img{
        text-align: center;
        padding:0;
    }
    .temp{
        font-size: 100px;
        font-weight: none;
        padding-bottom:0px;
        margin-bottom:0;
    }
    .today-hum-wind{
        display: none;
    }
    .container2{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding:5px;
        width:100%;
    }
    .weekDays{
        margin-left:20px;
        padding:10px;
        flex-direction :column;
        justify-content: space-between;
    } 

    .imageDays{
        padding:5px 0 5px 40px ;
        flex-direction :column;
        justify-content: space-between;
    }
    .imageDay{
        margin:0;
        width:11%;
        height:26px;
    }
    .minTemp{
        padding:0;
        margin:10px 10px 10px 0;
        flex-direction :column;
        justify-content: space-between;
    }
    .maxTemp{
        margin:10px 20px 10px 10px;
        padding:0;
        flex-direction :column;
        justify-content: space-between;
    }
}
@media(max-width:320px){
        .imageDay{
            margin:0;
            width:19%;
            height:40px;
        }
}