body{
    padding:0;
    margin:0;
    background: #1D2671;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #C33764, #1D2671);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #C33764, #1D2671); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    /* background-repeat: no-repeat; */
    background-size: 100% 100%;
    background-attachment: fixed;
    /* background-position: center;  */
    font-family: 'Montserrat', sans-serif; 
}
header{
    background-color: #5a5574;
    color:white;
    font-size: 10px;
}
.firstH1{
   display: inline-block;
   position: relative;
   left:43%;
}
input{
    left:21%;
    display: inline-block;
    position: relative;
    border:none;
    background-color: rgba(238, 232, 232, 0.712);
    padding:5px;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 15px;
    color:white;
}
textarea:focus, input:focus{
    outline: none;
}
::placeholder{
    color:white; 
}
.container1{
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:60%;
    margin: auto;
    color:white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom:2px solid white;
    height:270px;
    margin-top: 40px;
    box-shadow: 12px 12px 12px 12px rgba(53, 52, 52, 0.1);
}
.temp{
    position: absolute;
    left:5%;
    top:4%;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
}
.city{
    position: absolute;
    left:64%;
    top:19%;
    font-family: 'Montserrat', sans-serif;  
    border-bottom:3px solid white;
}
.firstImg{
    position: absolute;
    width:50px;
    height:50px;
    left:7%;
    top:50%;
}
.tempType{   
    position: absolute;
    font-size: 26px;
    left:860px;
    bottom:30%;
    cursor: default;
}
.f:hover{
    background-color: grey;
    border-radius: 10px;
    border:3px solid grey;
}
.c:hover{
    background-color: grey;
    border-radius: 10px;
    border:3px solid grey;
}
.hum-wind{
    position: relative;
    top:67%;
    left:12%;
}
.humidity{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;  
    font-size: 26px;
    padding-right:20px;
    border-right:1px solid white ;
}
.wind{
    padding-left:20px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;  
    font-size: 26px;
}
.container2{
    position: relative;
    width:60%;
    height:250px;
    margin:auto;
    margin-bottom:40px;
    color:white;
    font-size:30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 9px 9px 9px 9px rgb(0,0,0, 0.1);
}
h5{
    margin:0 0 14px 10px;
    padding:10px 70px;
    margin-left:20px;
    text-align:center;
    color:white;
    opacity:1;
    display: inline-block;
}
.imageDays{
    position: relative;
    width:31px;
    height:30px;
    display: inline;
    left:34px;
}
.imageDay{
    width:50px;
    height:50px;
    text-align: center;
    padding:0 75px;
}
p{
    position: relative;
    display: inline-block;
    margin-top:0;
    left:15px;
    padding:1px 73px;
    left:20px;
}
.weeklyMinTemp{
    display: inline-block;
}
.weeklyMaxTemp{
    display: inline-block;
}
 @media (min-width:2560px){
    header{
        height:100px;
    }
    .firstH1{
        display: inline;
        position: absolute;
        left:58%;
        font-size: 40px;
    }
    input{
        position:absolute;
        top:24px;
        font-size: 34px;
    }
    .container1{
       height:400px;
       font-size: 33px;
    }
    .city{
        top:29px;
    }
    .tempType{
        position:relative;
        left:960px;
        top:50px;
        font-size: 43px;
    }
    .temp{
        position:relative;
        top:79px;
        font-size:100px ;
    }
    .firstImg{
        width:80px;
        height:80px;
    }
    .hum-wind{
        position: relative;
        left:300px;
        top:10px;
    }
    .humidity{
        font-size: 35px;
    }
    .wind{
        font-size: 35px;
    }
    .container2{
        font-size: 60px;
        height:500px;
        text-align: center;
    }
    .imageDays{
        position:relative;
        width:60px;
        height:60px;
        left:10px;
        padding: 0px 68px;
    }
    .imageDay{
        width:50px;
    }
    h5{
        padding:5px 50px;
    }
    .weeklyMinTemp{
        padding:0 45px;
    }
    .weeklyMaxTemp{
        padding:0 45px;
    }
}
@media (max-width:1780px x 600px){
    .tempType{
    position:absolute;
    margin-left:500px;
    }
    .imageDay{
        padding:0px;
    }
}
@media (max-width:1440px){
    .container2{
    position: relative;
    text-align: center;
    }
    .tempType{
    left:65%;
    }
    .imageDays{
    position: relative;
    margin-right:10px;
    left:10px;
    }
    .imageDay{
    right:0;
    width:50px;
    padding:0px 25px;
    }
}
@media (max-width:1024px){
  .container2{
    font-size: 23px;
    height:500px;
  }
h5{
    margin:0 0;
}
.imageDays{
    position: relative;
}
.imageDay{
    width:48px;
    height:50px;
    padding:17px;
}
}
 @media(max-width:414px){
  header{
    position :relative;
    height:60px;
    width:100%;
  }
  .firstH1{
    position: absolute;
    top:60px;
    left:70px;
  }
  input{
    position:absolute;
    top:10px;
    font-size: 20px;
  }
  .tempType{
    position:relative;
    left:90px;
    top:50px;
    font-size: 43px;
 }
 .container1{
     position: relative;
     margin:0;
     width:100%;
     height:300px;
     margin:auto;
 }
 .temp{
     position: absolute;
     left:160px;
     top:70px;
     text-align: center;
 }
 .city{
    position: absolute;
    left:30%;
 }
 .tempType{
     position: absolute;
     left:132px;
     top:220px;
     width:100px;
     font-size: 30px;
 }
 .firstImg{
    display: none;
  }
 .hum-wind{
     display: none;
 }
 .humidity{
     border:none;
     display: none;
 }
 .container2{
     width:100%;
     position: relative;
     height:100%;
     font-size: 30px;
 }
 .weekDays{
    position:absolute;
    top:10px;
 }
 h5{
     position: relative;
     display: block;
     padding:0 0 32px 0;
     width:10px;
     left:5px;
 }
 .imageDays{
    position:absolute;
    top:10px;
 }
 .imageDay{
     width:35px;
     height:35px;
     position: relative;
     top:10px;
     padding:0 0 18px 0;
     left:130px;
    
 }
 div.imageDays{
     width:30px;
     font-size: 10;
 }
 .weeklyMinTemp{
    left:210px;
    padding:0 10px;
    display: block;
    width:60px;
    font-size: 29px;
 }
 .minTemp{
     position: absolute;
     top:10px;
 }
 h5{
    width:10px;
    left:10px;
 }
 .weeklyMaxTemp{
    left:300px;
    display: block;
    width:60px;
    padding:0 10px;
    font-size: 29px;
 }
 .maxTemp{
     position:absolute;
     top:10px;
 }
}