body{
    padding:0;
    margin:0;
    background: #1D2671;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #C33764, #1D2671);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #C33764, #1D2671); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    font-family: 'Montserrat', sans-serif; 
}
header{
    background-color: #2b244d;
    color:white;
    
}
.firstH1{
   display: inline-block;
   position: relative;
   left:49%;
}
input{
    left:21%;
    display: inline-block;
    position: relative;
    border:none;
    background-color: rgba(238, 232, 232, 0.712);
    padding:15px;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 15px;
    color:white;
}
textarea:focus, input:focus{
    outline: none;
}
::placeholder{
    color:white; 
}
.container1{
    position: relative;
    background-color: #C33764;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:60%;
    margin: auto;
    color:white;
    border-radius: 25px;
    height:480px;
    margin-top: 50px;
    box-shadow: 6px 5px 7px rgb(0,0,0, 0.1);
}
.temp{
    left:12%;
    top:4%;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
}
.city{
    position: absolute;
    right:12%;
    top:18%;
    font-family: 'Montserrat', sans-serif;  
    border-bottom:3px solid white;
}
.sky{
    position:absolute;
    top:37%;
    left:13%;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
}
.tempType{   
    position: absolute;
    font-size: 26px;
    right:21%;
    top:39%;
    cursor: default;
}
.f:hover{
    background-color: grey;
    border-radius: 25px;
}
.c:hover{
    background-color: grey;
    border-radius: 25px;
}
.hum-wind{
    position: relative;
    top:67%;
    left:30%;
}
.humidity{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;  
    font-size: 26px;
    padding-right:20px;
    border-right:1px solid white ;
}
.wind{
    padding-left:20px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;  
    font-size: 26px;
}
@media (max-width:1440px){
    header{
        height:85px;
        position:relative;
    }
    .firstH1{
        display: inline-block;
        position: absolute;
        left:52%;
        font-size: 30px;
    }
    input{
        display: inline-block;
        position: absolute;
        font-size: 20px;
        left:21%;
        top:14px;
    }
    .hum-wind{
        position: absolute;
        left:20%;
    }
}
@media (max-width:1024px){
    input{
        font-size: 20px;
        left:36%;
    }
    .firstH1{
      position: relative;
      left:33%;
      top:80%;
      font-size: 29px;
    }
    .city{
        position:absolute;
        left:60%;
        font-size: 29px;
        border-bottom:3px solid white;
    }
    .hum-wind{
     position: absolute;
     left:20%;
    }
    .humidity{
        font-size: 22px;
    }
    .wind{
        font-size: 22px;
    }
}
@media(max-width:768px){
    input{
      left:32%;
    }
    .firstH1{
        left:28%;
    }
    .container{
       width:85%;
       text-align: center;
    }
    .city{
        position: absolute;
        right:4%;
    }
}
@media (max-width:425px){
    header{
        text-align: center;
        height: 73px;
    }
    input{
     position: absolute;
     left:18%;
     padding: 10px;
    }
    .firstH1{  
        position: absolute; 
        left:9%;
    }
    .container1{
        width:88%;
        margin-top:70px;
    }
    .city{
        position: absolute;
        left:49%;
        top:23%;
    }
    .hum-wind{
        position:absolute;
        left:27%;
        top:57%;
    }
    .humidity{
        margin-left:12px;
        border: none;
    }
    .wind{
        top:25%;
    }

}     

@media (max-width:320px){
    header{ 
      height:135px;
   }
   input{
     position: absolute;
     left:8%;
   }
   .firstH1{
      position: absolute;
      top:52px;
      left:3%;
   }
   .container1{
       width:100%;
       border-radius:0;
       margin-top: 0px;
   }
   .temp{
       position: absolute;
       top:1%;
       left:32%;
   }
   .city{
       left:25%;
       border:none;
       top:29%;

   }
}